.batchCreationContainer {
  margin: 10px;
  width: 1100px;
}

.batchCreation {
  display: inline-block;
}

.batchCreation.leftSide {
  float: left;
  max-width: 800px;
}

.batchCreation.rightSide {
  float: left;
  max-width: 290px;
  min-width: 250px;
  margin-left: 30px;
}

.batchCreationClear {
  clear: both;
}