.splash-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-section {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.hero-content {
  max-height:370px;
  flex: 1;
  max-width: 600px;
  padding: 1rem;
}

.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.hero-content p {
  line-height: 1.6;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.hero-image {
  flex: 1;
  min-width: 300px;
  height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 1rem;
}

/* Media queries for responsive design */
@media (max-width: 992px) {
  .hero-section {
    padding: 1.5rem;
  }
  
  .hero-content h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }
  
  .hero-content, .hero-image {
    max-width: 100%;
  }
  
  .hero-content h2 {
    font-size: 1.6rem;
  }
  
  .hero-content p {
    font-size: 1rem;
  }
  
  .hero-image {
    height: 400px;
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding: 1rem;
  }
  
  .hero-content h2 {
    font-size: 1.4rem;
  }
  
  .hero-image {
    height: 300px;
  }
} 