.red {
  background-color: #ff0000;
}

.blue {
  background-color: #0000ff;
}

.green {
  background-color: #00ff00;
}

.pink {
  background-color: #FFC0CB;
}

.main-container {
  width: 800px;
  min-height: 300px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0px auto;
}

.choco-style {
  background-color: rgb(136, 92, 38);
  min-height: 500px;
}

.choco-bg {
  background-color: rgb(247, 243, 206);
  min-height: 500px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar-parent {
  width: 1200px;
  margin: 0px auto;
}

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}

.game-outer-div {
  border: 5px solid black;
  background-color: #ffffff;
  width: 1060px;
  box-shadow: inset 0 0 15px;
  margin: 0px auto;
}

.remove-game-button {
  margin-top: 5px;
  font-weight: bold;
  float: left;
  width: 150px;
  outline: none;
  text-align: center;
  position: relative;
  top: 50%;
  left: 45%;
  background: white;
  border-radius: 5px;
}

.remove-game-button:hover {
  background-color: #dddddd;
}

.main-game-canvas {
  padding-top: 5px;
  margin: 35px 30px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chocolate-code-request {
  margin: 0px auto;
  width: 500px;
  height: 300px;
  padding: 80px;
}

.chocolate-code-request.hidden {
  display: none;
}

.chocolate-come-back {
  text-align: center;
}

.chocolate-come-back.hidden {
  text-align: center;
  display: none;
}