.ib {
  display: inline-block;
  padding: 10px;
}

.inventoryNotes {
  max-width: 200px;
}

/**  Nutirion Facts */
.nutritionFactsOutline {
  border: 2px solid black;
  padding: 5px;
}

.nutritionFactsLabel {
  font-weight: 900;
  font-size: 1.8em;
  border-bottom: 1px solid black;
}

.nutritionFactsServingsPerContainer {
  font-size: 0.9em;
}

.nutritionFactsServingSizeLabel {
  display: inline-block;
  font-weight: 800;
}

.nutritionFactsServingSizeAmount {
  display: inline-block;
  float: right;
  font-weight: 800;
}

.nutritionFactsLargeBarDivider {
  height: 4px;
  width: 100%;
  margin: 2px auto;
  background-color: black;
}

.nutritionFactsAmountPerServing {
  font-weight: 800;
  height: 0.3em;
  font-size: 0.6em;
  float: left;
}

.nutritionFactsCloriesContainer {
  font-size: 1.3em;
  border-bottom: 3px solid black;
  padding-bottom: 1px;
}

.nutritionFactsCaloriesNumber {
  line-height: 1.1em;
  font-weight: 800;
  font-size: 2em;
  float: right;
}

.nutritionFactsPrimaryDetails {
  clear: both;
}

.nutritionFactsSingleRow {
  border-bottom: 1px solid #ccc;
}

.nutritionFactsCalories {
  padding-top: 0.4em;
  font-weight: 800;
  font-size: 1.2em;
}

.nutritionFactsTabSpacing0 {
  width: 0px;
  float: left;
  height: 0px;
}

.nutritionFactsTabSpacing1 {
  width: 15px;
  float: left;
  height: 2px;
}

.nutritionFactsTabSpacing2 {
  width: 30px;
  float: left;
  height: 2px;
}

.nutritionFactsIb {
  display: inline-block;
}

.nutritionFactsIb.right {
  float: right;
}