.nav-header {
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(97, 97, 97);
  border-bottom-style: none;
  border-bottom-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
  box-sizing: border-box;
  color: rgb(97, 97, 97);
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0px;
  position: fixed;
  top: 0px;
  width: 1900px;
  z-index: 999;
}

@media only screen and (max-width: 991px) and (min-width: 769px) {
  /* CSS that should be displayed if width is equal to or less than 991px and larger
  than 768px goes here */
}

@media only screen and (max-width: 991px) {
  /* CSS that should be displayed if width is equal to or less than 991px goes here */
}