.barAddEditOutterContainer {
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  max-width: 1000px;
}

.barBatchSelection {
  max-width: 300px;
}

.barMoldDetailsContainerForBarCreation {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 266px;
  display: inline-block;
  padding: 0px 10px 10px 10px;
  border-right: 1px solid #ccc;
}

.barBatchSelectionPctInputs {
  min-width: 900px;
}

.moldSelectionLabel {
  margin-top: 3px;
  text-align: center;
  font-size: 1.4em;
  border-bottom: 1px solid #ccc;
}

.moldSelectionBarMoldImagePreview {
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
  max-width: 200px;
}

.generateBarGroupLabel {
  display: inline-block;
  padding-left: 10px;
}